#edit-field-dia-de-nacimiento-wrapper, #edit-field-dia-de-muerte-wrapper {
  width: 50px;
}

#edit-field-mes-de-nacimiento-wrapper, #edit-field-mes-de-muerte-wrapper {
  width: 50px;
  padding-right: 5px;
  padding-left: 5px;
}


#edit-field-ano-de-nacimiento-wrapper, #edit-field-ano-de-muerte-wrapper {
  width: 65px;
}


#edit-field-dia-de-nacimiento-wrapper, #edit-field-mes-de-nacimiento-wrapper, #edit-field-ano-de-nacimiento-wrapper, #edit-field-dia-de-muerte-wrapper, #edit-field-mes-de-muerte-wrapper, #edit-field-ano-de-muerte-wrapper {
  float: left;
  text-align: center;
}

.fieldset-wrapper .description{
  width:100%;
  display:flex;
  color:red;
}






